.fillParent { 
  position: relative;
  height: 100vh;
}

@font-face {
  font-family: Fontanero;
  src: url(/assets/font/Fontanero-FFP.ttf) format('ttf'),
  
}

.screenCover {
  /*display: none;*/
  position: fixed;

  opacity: 0.5;

  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 890;
}

.screenCover.hidden {
  display: none;
}


.hidden {
  opacity: 0;
}

.text-center {
  text-align: center;
}

.background-colour {
  background-color: #ACFCD9;
}

.fullHeight {
  height: 100%;
}

.selectable {
  cursor: pointer;
}

body {
  background-color: #F3FAF0;

  height: 100vh;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
