@font-face {
  font-family: "Fontanero";
  src: url("../../asset/font/Fontanero-FFP.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fontanero Bevel";
  src: url("../../asset/font/Fontanero-Bevel-FFP.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=index.css.map */
